---
interface Props {
	label: string;
}

const { label } = Astro.props;
---

<div
	class="flex items-center rounded-full border border-neutral-700 border-opacity-50 bg-neutral-400/10 px-3 py-1 text-xs font-medium leading-5 text-neutral-300 shadow backdrop-blur-sm"
>
	{label}
</div>
